@import "../../assets/variables.sass"

#randomizer
    margin: 8px
    @include modal-mixin()
    .modal-overlay
        .modal
            .name
                padding-top: 42px
                text-align: center
                span
                    font-weight: 700
                    cursor: pointer
            .content
                display: flex
                justify-content: center
    .button-container
        display: flex
        button
            margin: 20px auto
            display: flex
            background-color: white
            border: none
            border-radius: 8px
            padding: 8px
            font-weight: 900
            cursor: pointer
        .show-code
            cursor: pointer
            align-items: center
            display: flex
            margin: auto
    .setup 
        margin: 8px
        .rank-container
            border-radius: 8px
            border: solid 1px white
            margin-top: 8px
            .label
                font-weight: 700
                margin: 8px
            .edifici
                display: flex
                margin: 8px
                flex-wrap: wrap
                justify-content: space-around
                .edificio
                    margin: 8px
                    background-color: $background-color-dark
                    padding: 8px
                    border-radius: 8px
                    &.edifici
                        color: $green
                    &.base
                        color: $beige
                    &.nobili
                        color: $red
    .festival
        margin: 8px
        .info
            display: flex
            .label
                font-weight: 300
            .value
                margin-left: 8px
                font-weight: 700
                text-transform: capitalize
                &.edifici
                    color: $green
                &.nobili
                    color: $red
                span
                    margin-left: 8px
                &.base
                    color: $beige
                    &.mais
                        color: $yellow
                    &.caffè
                        color: black
                    &.tabacco
                        color: $brown
                    &.frutta
                        color: $green
                    &.zucchero
                        color: $white
                .mais
                    color: $yellow
                .caffè
                    color: black
                .tabacco
                    color: $brown
                .frutta
                    color: $green
                .zucchero
                    color: $white