$breakpoint-tablet: 768px
$breakpoint-mobile: 426px
$background-color: #486775
$background-color-dark: #2d4356
$base-height: 60px
$brown: #674607
$yellow: #E7C30E
$green: #15c168
$white: #DBE2E6
$beige: #F4E7C7
$red: #870c0f