@import "./assets/variables.sass"
@import "./assets/fonts/poppins.sass"

body
    margin: 0
    #root
        background-color: $background-color
        height: 100vh
        font-family: Poppins
        font-weight: 500
        color: white